Dockerfile
.github
.git
.*
*.bat
*.md
*.png
*.toml
wasp
wasp-cli
*.log
waspdb/
docOps/
**/blockscout/
contracts/wasm/
documentation/
wasp.log
/wasp
/wasp-cli
/wasp-cluster
/dbinspector
/evmemulator
/schema
/submsg
cluster-data/
dist/
